@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;600&family=Questrial&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@400;500;600&family=Questrial&family=Staatliches&display=swap");
@media (min-width: 381px) {
  header {
    position: relative;
    top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    width: 70%;
    height: 90px;
    margin: 0 auto;
  }
  header .taisez-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 230px;
  }
  header .taisez-div .dino {
    width: 100px;
  }
  header .taisez-div .taisezmoi {
    position: relative;
    top: 5px;
    font-family: "Handjet", cursive;
    color: #378e9d;
  }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  header nav ul .home a, header nav ul .about a {
    font-family: "Staatliches", cursive;
    font-size: 1.5rem;
    color: #378e9d;
  }
  header nav ul:not(.active) {
    text-decoration: none;
  }
  header nav ul .active {
    text-decoration: underline;
    text-decoration-color: #378e9d;
  }
}
@media (max-width: 380px) {
  header {
    position: relative;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    width: 90%;
    height: 90px;
    margin: 0 auto;
  }
  header .taisez-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
  }
  header .taisez-div .dino {
    width: 85px;
  }
  header .taisez-div .taisezmoi {
    display: none;
  }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    width: 100%;
    padding: 0;
  }
  header nav ul .home a, header nav ul .about a {
    font-family: "Staatliches", cursive;
    font-size: 1rem;
    color: #378e9d;
  }
  header nav ul:not(.active) {
    text-decoration: none;
  }
  header nav ul .active {
    text-decoration: underline;
    text-decoration-color: #378e9d;
  }
}
@media (min-width: 381px) {
  footer {
    flex-shrink: 0;
    height: 200px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .dark-dino {
    position: relative;
    width: 100px;
  }
  footer p {
    color: white;
    text-align: center;
    font-family: "Questrial", sans-serif;
    font-size: 1.2rem;
    margin-bottom: 0;
  }
}
@media (max-width: 380px) {
  footer {
    flex-shrink: 0;
    height: 200px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .dark-dino {
    position: relative;
    width: 85px;
  }
  footer p {
    color: white;
    text-align: center;
    font-size: 0.9rem;
    width: 80%;
    font-family: "Questrial", sans-serif;
    margin-bottom: 0;
  }
}
#root, .App {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}/*# sourceMappingURL=App.css.map */